.chat {
}

.chat table {
  border-collapse:collapse;
  width:100%;
}

.chat table tr:nth-child(odd)  {
  background-color:#f1f1f1;
}

.chat table tr:nth-child(even) {
  background-color:#ffffff;
}

.chat table th{
  color:#ffffff;
  background-color:#555555;
  border:1px solid #555555;
  padding:3px;
  vertical-align:top;
  text-align:left;
}
